
{% extends "home.html" %}

{% block content %}
<div class="description">
<div class="column-12 txt-center">
    {% load static %}
    <h2>About</h2>
    
    <p>We are software enginnering international students, of Nankai university:</p>
        <ul style="display: inline-block !important; text-align: center !important; padding: 2px; margin: 5px;">
            <li>SAID SAIF MOHAMMED AL SAIDI - ID: 2120226034</li>
            <li>SAID SAIF MOHAMMED AL SAIDI - ID: 2120226034</li>
            <li>SAID SAIF MOHAMMED AL SAIDI - ID: 2120226034</li>
            <li>SAID SAIF MOHAMMED AL SAIDI - ID: 2120226034</li>
        </ul>
        <br> 
    <p>    
We have done this project, for wb application development course as final project whcih is about Sindibad tour guide, this website is to help touriests people to search for the most important
things when they visit countries and cities around tha world, this is version 1.0, copy rights reserved :)
</p>
</div>
</div>
<script>
    myFunction();
</script>
{% endblock content %}

